@import "../../../css/_mixins.css";

:host,
:host *,
:host *::before,
:host *::after {
  box-sizing: border-box;
}

:host {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  font-family: var(--default-font-family);
  font-variation-settings: "wght" var(--fw-regular);
  color: var(--color-white);
  display: flex;
  justify-content: center;
  padding: 1.5rem;

  & h2,
  & p {
    padding: 0;
    margin: 0;
  }

  & h2 {
    --icon-size: 1.5rem; /* 24px */
    position: relative;
    font-variation-settings: "wght" var(--fw-bold);
    font-size: 1.125rem; /* 18px */
    line-height: 1.5;
    padding-left: calc(var(--icon-size) + 0.6rem);
    &::before {
      content: "";
      width: var(--icon-size);
      height: var(--icon-size);
      position: absolute;
      top: calc(50% - (var(--icon-size) / 2));
      left: 0;
      background-image: url("../../../images/icon-success-check.svg");
      background-size: 20px;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  & p {
    font-variation-settings: "wght" var(--fw-regular);
    font-size: 1rem; /* 16px */
    color: var(--color-green-200);
    line-height: 1.5;
    margin-top: 0.5rem;
  }

  & article {
    background-color: var(--color-grey-900);
    border-radius: 0.75rem; /* 12px */
    padding: 1.5rem; /* 24px */
  }
}
