@import "./_css-reset.css";
@import "./_mixins.css";
@import "./_fonts.css";

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-error: hsl(0, 66%, 54%);
  --color-green-200: hsl(148, 38%, 91%);
  --color-green-600: hsl(169, 82%, 27%);
  --color-grey-500: hsl(186, 15%, 59%);
  --color-grey-900: hsl(187, 24%, 22%);
  --default-font-family: Karla, sans-serif;
  --default-font-size: 16px;
  --fw-regular: 400;
  --fw-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: var(--default-font-family);
  font-variation-settings: "wght" var(--fw-regular);
  font-size: var(--default-font-size);
  color: var(--color-grey-900);
  background-color: var(--color-green-200);
}
img {
  max-inline-size: 100%;
  object-fit: cover;
}

main {
  width: 100%;
  padding: 2rem 1rem;

  @mixin media-query-tablet {
    padding: 0 2.4375rem; /* 39px */
    padding-top: 128px;
    padding-bottom: 2rem;
  }
}

article {
  width: 100%;
  border-radius: 1rem;
  padding: 1.5rem;
  background-color: var(--color-white);

  & h1 {
    font-size: 2rem;
    font-variation-settings: "wght" var(--fw-bold);
    line-height: 1;
    letter-spacing: -1px;
    margin-bottom: 2rem;
  }

  @mixin media-query-tablet {
    padding: 2.5rem;
  }
  @mixin media-query-desktop {
    width: 736px;
    margin: 0 auto;
  }
}
